@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primaryColor-rgb: 19, 14, 10;
}

body {
    overflow-x: hidden;
}

.primaryColor {
  background: rgb(var(--primaryColor-rgb));
}
